name: SSHX Debug Session
on:
  workflow_dispatch:
jobs:
  sshx:
    runs-on: ubuntu-latest
    steps:
      - name: Start SSHX session
        run: |
          curl -sSf https://sshx.io/get | sh -s run